/* app css stylesheet */

.stretchedToMargin {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:50px;
    left:0;
    right:0;
    background-color: #333 ;
}

.videogular-container {
    position: fixed;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	overflow: hidden;
    padding-top: 20px;
    padding-bottom: 0px;

}

@media only screen and (min-width: 1200px) {

    .container {
      width: 600px;
    }

	.videogular-container {
		width: 1000px;/*1170px;*/
		height: 562.5px/*658.125px;*/
	}
    .scriptbox{
      width: 1000px;
      margin-left: auto ;
      margin-right: auto ;
    }

    .image-text{
       width:800px;
    }

    .stills{
        width: 360px;
    }

    .under-still{
        font-size:1.4rem;
        padding-bottom: 20px;
        margin-left: 15px
    }

    #speakertxt{
        padding-left:15px;
    }

    #textContent,
    #textContent2{
      padding: 0 !important;
      margin: 0 !important;
    }

    #cameraContent,
    #cameraContent2{
      padding: 0 !important;
      margin: 0 !important;
    }

    #lineCount{
        top:30px;
        right: -40px;
        color: #ffffff;
    }

    #cameraCount{
        top:80px;
        right: -40px;
        /*padding-right: 0px;*/
        color: #ffffff;
    }

    #multiContent{
        padding-left:0px;
    }

    #menuConversation{
        top:56px;
    }


}

/*md*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
    .scriptbox{
      width: 940px;
      margin-left: auto ;
      margin-right: auto ;
    }

    .default-text{
      padding-left: 0px;
    }

    .image-text{
        width:700px;
    }
    #cameraContent,
    #cameraContent2{
      padding: 0 !important;
      margin: 0 !important;
    }

    #lineCount{
        top:30px;
        right: -20px;
        color: #ffffff;
    }

    #cameraCount{
        top:80px;
        right: -20px;
        color: #ffffff;
    }

    #multiContent{
        padding-left:12px;
    }

    #menuConversation{
        top:56px;
    }
}

/* sm */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 768px;
		height: 432px;
	}

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .collapse.in{
        display:block !important;
    }


    .scriptbox{
      width: 768px;
      margin-left: auto ;
      margin-right: auto ;
    }

    .ok-btn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    .image-text{
        width:750px;
    }
    #conversations{
      font-size: 2.2rem;
      top: 8px;
    }

    /*.default-text{
      padding-left: 20px;
    }*/

    #multiContent{
        padding-left:18px;
    }

    #cameraContent,
    #cameraContent2{
      padding: 0 !important;
      left: 0px !important;
    }

    #menuConversation{
        top:18px;
    }
}

/* xs */
@media only screen and (min-width : 480px) and (max-width: 767px){
    .videogular-container {
		/*width: 480px;
		height: 270px;*/
        width:100%;
        height:56.25%;
	}

    .scriptbox{
     /* width: 480px;*/
      width:100%;
      margin-left: auto ;
      margin-right: auto ;
    }
    .ok-btn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }

    .image-text{
        width: 470px;
    }

    #conversations{
      font-size: 2.2rem;
      top: 10px;
    }

    #textContent,
    #textContent2{
      padding-left: 30px !important;
      margin-left: 0px !important;
    }

    #lineCount{
      top:90px;
      right: -20px;
      color: #ffffff;
    }

    #cameraCount{
      top:130px;
      right: -20px;
      color: #ffffff;
    }

    .camerabtn{
        margin-left:10px;
    }

    #multiContent{
        padding-left:32px;
    }

    #menuConversation{
        top:18px;
    }
}


@media only screen and (min-width : 320px) and (max-width: 479px){
    .videogular-container {
		/*width: 320px;
		height: 180px;*/
        width:100%;
        height:56.25%;
	}
    .scriptbox{
     /* width: 320px;*/
      width:100%;
      margin-left: auto ;
      margin-right: auto ;
    }

    #movTitle > .header{
        font-size: 2.0rem;
        height: 20px;
    }

    #iconBtn {
        font-size: 70px;
    }

    #lineCount{
        font-size: 20px;
        top:60px;
    }

    #cameraCount{
        font-size: 20px;
        top:90px;
    }

    div[id^='icon_']{
        padding-left:0px;
        padding-right:5px;
    }

    .caret-centre{
        padding-right: 0px;
    }

    #numeral{
        padding-left: 0px;
    }

    .image-text{
        width: 400px;
    }

    #ian{
        display: none;
    }


    #multiContent,
    #textContent,
    #textContent2,
    #textContent2 > p{
      padding-left: 35px !important;
      padding-right: 0px !important;
      margin-left: 0px !important;
    }

    #speakerContent,
    #speakerContent2 {
        padding-left:0px;
    }

    #conversations{
      font-size: 2.2rem;
      top: 10px;
    }

    #cameraContent2,
    #cameraContent{
        padding-left:2px;
    }

    #firstSpeaker{
        padding-left: 12px;
    }

    #actressCounter {
        padding-left: 0px;
        padding-right: 0px;
    }

    #col1,
    #speakerBtn,
    #actressNumber,
    #decrease,
    #increase{
        padding-left: 0px;
        padding-right: 0px;
    }

    #blurb{
        font-size: 2.0rem;
        padding: 20px;
    }

    #top-panel{
        padding:10px;
        padding-left: 20px;
        margin-top: 10px;
    }


}


@font-face {
  font-family: 'Ubuntu';
  font-style: italic, oblique;
  src: local('Ubuntu'),
  url("UbuntuMono-R.ttf") format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'),
  url('UbuntuMono-R.ttf')format("truetype");
}

@font-face {
    font-family: 'Ubuntu';
    src:local('Ubuntu'),
    url('UbuntuMono-B.ttf')format("truetype");
}

/*.overflow {
  position:absolute;
  top:0;
  left:200px;
  display: block;
  *//*text-overflow: ellipsis;*//*
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  color:#ccc;
  max-width:70%;
  padding-right:0px;
}*/

.ok-btn{
  text-align: left;
  padding-left: 0px;
  padding-top: 7px;
  font-family: 'Ubuntu', Verdana;
  font-size: 2.4rem;
  color: #333;
}

.cameraControl {
    display: table-cell;
    font-size: 2.2rem;
    color:#ffffff;
    width:20%;
    position: absolute;
    top: 80px;
    right: 0px;
}

.nav-active {
  background: #f7f2f3;/*#a9d9f7#ebf5ff#/;;*/
    /*cursor: default;
    color:#183691;*/

}

.navbar-default .navbar-nav > li > a {
  color: #183691;
}

.navbar-default .navbar-nav .nav-active{
    color:#a71d5d;
}
.navbar-default .navbar-nav .nav-active:hover{
    background: #f7f2f3;
    color:#a71d5d;
    cursor:default;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #e9ecf7;/*#f7f2f3;#ebf5ff;#a9d9f7*/
  color: #183691;
    cursor:pointer;
}

.dialogueControl {
  display: table-cell;
  font-size: 2.2rem;
  color:#ffffff;
  width:20%;
  position: absolute;
  top: 30px;
  /*bottom: 60px;*/
  right: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 1.8rem;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.togglebtn {
  border-radius: 0px;
  data-height: 15;

}

.togglebtn .btn {
  background-color: blueviolet;
  color: #ffffff;

}

.togglebtn .btn:hover {
  background: #cf3232;
}

.accordianContainer {
  border-top: 0px;
}

.iconbg {
  background-color: #fbfdff;
  padding-top: 7px;
  padding-bottom: 8px;
  /*display:block;*/
}

.placementbtn {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background: #32fd35;*/
  background-color: #fbfdff;
  border-radius: 0px;
  text-align: left;
  padding-left: 0px;
  left:0px;
  white-space: normal;
  color: #333;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.pausebtn {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*background: #32fd35;*/
  background-color: #fbfdff;
  border-radius: 0px;
  text-align: left;
  padding-left: 0px;
  /*left:0px;*/
  white-space: normal;
  color: #333;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.childplacement {
  /*border-top: 0px;*/
  border-right-width: 0px;
  border-left-width: 0px;
  /*background: #f7f4e8;*/
  background-color: #fbfdff;
  border-radius: 0px;
  text-align: left;
  padding-left: 8px;
  left:10px;
  white-space: normal;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.defaultbtn {
 border: 0px;
   /*border-right-width: 0px;
  border-left-width: 0px;*/
  background-color: #fafaff;
  /*border-radius: 0px;*/
  text-align: left ;
  /*padding-bottom: 5px;*/
  white-space: normal;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.defaultbtn:hover{
  background-color: #ebeded;
}


.childoption {
  /*border-left: 1px solid #c6c7d2;*/
  background: #f7f4e8;
  background-color: #fafaff; /*#f5eac9;*/
  border-radius: 0px;
  text-align: left ;
  padding-left: 10px;
  left: 0px;
  white-space: normal;
  padding-top: 7px;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.compoundoption {
  /*border-left: 1px solid #c6c7d2;*/
  background: #fafaff;
  padding-left:0px;
  margin-top: 5px;
  text-align: left;
  left: 0;
  white-space: normal;
  /*background-color: #fbfdff;*/
}

.childselect{
   /*color: #f5d9bc;*/
  color: #9d1923;
}

.nothing{
  color: rgb(255, 252, 243)
}

.defaultbtn:focus,
.defaultbtn:active,
.defaultbtn.active,
.childplacement:focus,
.childplacement:active,
.childplacement.active,
.seqsetbtn:focus,
.seqsetbtn:active,
.placementbtn:focus,
.placementbtn.active,
.placementbtn:active
.placementbtn:focus:active{
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.placementborder{
 /* box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px #c6c7d2 ;*/
  border-bottom:1px solid #c6c7d2;
  /*border-left: 1px solid #c6c7d2;*/
  background-color: #fbfdff;
  border-left: 1px solid #c6c7d2;
}

.nextrowline{
  border-top: 1px solid #c6c7d2;
}

.nextselectline{
  border-bottom: 1px solid #c6c7d2;
}

.speakerToggle:focus,
.speakerToggle:active,
.speakerToggle.active,
.camerabtn:focus,
.camerabtn:active,
.camerabtn.active{
   outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.childplacement:hover,
.placementbtn:hover {
  background-color: #ebeded;
}

.childborder{
  /*border-width: 1px;*/
  /*border-bottom-width: 0px;
  border-style: solid;
  border-color: #996633;*/
  border:1px solid #c6c7d2;
  background-color: #fbfdff;

}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.childfree{
  /*border-left: 1px solid #c6c7d2;
  border-top: 1px solid #c6c7d2;*/
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #fbfdff;
  font-family: Ubuntu;
}

.seqsetbtn {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background: #f7b6b9;
  background-color: #f7e3d5;
  border-radius: 0px;
  text-align: left ;
  padding-left: 0px;
}

.seqsetline{
  /* border-bottom:1px solid #c6c7d2;*/
}

.seqsetitalic{
  font-family: Ubuntu;
  font-style: italic;
}

.seqsetbtn:hover {
  background-color:#F7cccb;
}

.camerabtn {
  /*margin-left: 0px;
  margin-bottom: 8px;

  border-width: 1px;
  border-color: #c6c7e1;*/
  border-width: 1px;
  border-radius: 5px;
  height: 22px;
  width: 40px;
  /*padding: 1px 0px;*/
  /*background-color: #f7f2f3;*/
  font-size: 1.4rem; /*smaller*/;
    padding: 0px;
    margin-top: 5px;
  margin-left: auto;
    margin-right:auto;
    /*
  /*text-align: center;
    text-align:-webkit-center;*/
  font-family: 'Ubuntu', Verdana;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.speakerToggle {
  border-width: 1px;
  border-radius: 5px;
  height: 26px;
  width: 70px;
  /*padding-left: 0px;
  padding-top: 7px;*/
  font-size: 1.8rem;
  color:#183691;
  background-color: #ebf5ff;
  margin-top: 5px;
  text-align: center;
  font-family: 'Ubuntu', Verdana;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none;
}

.closecam{
  background-color: #f7f2f3;
  color:#a71d5d;
}

.widecam{
  background-color: #e9ecf7;
  color:#183691;
}

.camerabtn:disabled {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.radiobtn {
  background-color: #a9d9f7;
  /*border-radius:15px;
  height: 30px;
  width: 30px;*/
  border: 2px;
  border-color: #000066;

  /*width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;*/
}
.radiobtn:active,
.radiobtn.active,
.radiobtn:hover,
.radiobtn.selected{
  border: 2px;
  border-color: #A00000;
  background-color: #b3aac1;
}

.conversation-menu{
    padding: 0;
    margin-bottom: 0;
    border: none;
    background: none;
    position:absolute;
    top:2px;
    right:20px;
    height:30px;
    font-size: 2.2rem;
    color:#a71d5d;
}

.image-text{
    height: auto;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.default-text {
  text-align: left;
  padding-left: 0px;
  padding-top: 7px;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
  color: #333;
}

.larger-text {
    text-align: left;
    padding-left: 0px;
    padding-top: 7px;
    font-family: 'Ubuntu', Verdana;
    font-size: 2.4rem;
    color: #333;
}

.top-panel{
    background-color: #ffffff;
    padding:30px;
    margin-top: 50px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    background: #f7f2f3 !important;
    color: #a71d5d !important;
}

.nav:active {
    background: #f7f2f3 !important;
    color: #a71d5d !important;
}

.headline{
    font-size: 2.0rem;
    font-family:'Ubuntu', Verdana;
    font-weight: bold;
}

th, td {
    padding: 5px 35px 5px 35px;
    /*padding-left:15px;*/
    margin-left:15px;
}

.stills{
    height: auto;
}

/*.default-larger {
  text-align: left;
  padding-left: 0px;
  padding-top: 7px;
  font-family: 'Ubuntu', Verdana;
  font-size: 2.2rem;
  color: #333;
}*/

.linktext{
  text-align: left;
  font-family: 'Ubuntu', Verdana;
  color: #FFFFFF;
}

/*.active-conversation .active a,
.active-conversation .active a:hover{
  background-color: red;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:red;
}*/


.janetext{
  font-family: Ubuntu;
  padding-top: 5px;
  white-space: normal;
  text-align: left;
  font-size: 1.8rem;
}

.seqtyperow{
  /*position: relative;*/
   /*55px;
  padding-left: 14px;
  border-left: 1px solid #c6c7d2;*/
  background-color:#fbfdff;
  /*border-top:1px solid #c6c7d2;
  left: 8%;*/
}

/*.speakerCol {
  color: #ff0000;
}*/

button.jake:before{
  content:'Jake:\00a0\00a0\00a0';
  display: inline;
  color: #4183c4;
}

.jake{

}

button.john:before{
  content:'John:\00a0\00a0\00a0';
  display: inline;
  color: #4183c4;
}

.verticalLine {
  border-left: solid #0000ff;
}

.optionbtn {
  /*border-width: 1px;*/
  /*border-color: #c6c7d2;*/
  border-top:1px solid #c6c7d2;
  border-left: 1px solid #c6c7d2;
  border-right: 1px solid #c6c7d2;
  background: #fbfdff; /*f7f4e8;*/
  border-radius: 0px;
  padding-left: 14px;
  padding-bottom: 5px;
  text-align: left;
  white-space: normal;
  border-right-width: 0px;
  left: 8%; /*36px;
  /*color: #000000;*/
  color: #333;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;

}

.optionbtn-disabled{
  color: #4e575b;
}

.optionbtn:hover,
.conversation-btn:hover{
  background-color: #ebeded;
}

/*.conversation-btn:hover{
  background-color: #ebf5ff; /*//*#edd99f;#ebf5ff*//*
}*/

.conversation-btn{
  background: #fbfdff;
  border-radius: 0px;
  padding-left: 14px;
  padding-bottom: 5px;
  text-align: left;
  white-space: normal;
  border-right-width: 0px;
  padding-left:10px;
  color: #333;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}

.caret-centre {
  padding-top: 8px;
  color: #4183c4; /*#795da3; #c6c7e1;*/
  filter: alpha(opacity=40);
  /*position:relative;*/
  left:0px;
}

.pairedlink {
  color: #183691;
}

.radio-centre {
  vertical-align: middle;
  horiz-align: center;
  display: inline-block;
}

.scriptbox {
  border-top:  1px solid #c6c7d2;
  border-bottom:  1px solid #c6c7d2;
  padding-top: 1px;
  overflow-y: scroll;
  /*overflow-y: auto;*/
  height:500px; /*90vh; 550px;*/
  overflow-x: hidden;
  padding-right: 0;

  /*width: 100vw; 580px;
  -moz-width: 40vw;

  max-width: 45%;*/
    position: fixed;
    margin-left: 0;
  top: 550px;
  /*left:0px;
  float:left;
  display: inline*/
}

.textbox {
  position:absolute;
  width: 42vw;
  top:5%;
  /*left:30%;*/
  border-top:  1px solid #c6c7d2;
  border-bottom:  1px solid #c6c7d2;
  /*padding-top: 1px;
  overflow-y: scroll;
  overflow-y: auto;*/
  /*height: 90vh; 500px;*/
  width: 42vw;
  overflow-x: hidden; /*scroll*/
  /*margin-top: 50px;*/
  margin-left: 15%;
  left:0px;
}

.okbutton{
  position:relative;
}

label {
    font-weight: normal !important;
}
.controlbox{
 /* float:right;
  position: relative;*/
  font-family: 'Ubuntu', Verdana;
  /*top: 30px;
  left: 40px;
  height: 90vh;*/
}

body{
  font-size: 14px;
}

.script-title{
  font-size: 2.8rem;
  white-space: normal;
  color: #333;
  /*padding-top:8px;*/
  vertical-align: middle;
  display: table-cell;
}

.script-header{
  font-size: 2.8rem;
  top:8px;
  white-space: normal;
  color: #333;
  /*padding-top:8px;*/
  vertical-align: middle;
 /* display: table-cell;*/
}

.script-subheader{
  font-size: 2.4rem;
  top:8px;
  white-space: normal;
  color: #333;
  /*padding-top:8px;*/
  vertical-align: middle;
 /* display: table-cell;*/
}


.playbtn{
  font-family: 'Ubuntu', Verdana;
  color: #333;
  font-size: 24px;
  white-space: normal;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #fafaff;
}

.speakertxt{
  /*text-align: left;*/
  white-space: normal;

  /*padding-left: 0px;*/
  padding-top: 5px;
  color: #4183c4;
  font-family: 'Ubuntu', Verdana;
  font-size: 1.8rem;
}

.leaveoption{
  background-color:#f5eac9;
}

.enteroption {
  /*background-color:#edd99f;*/
  background-color: #ed1750;
}

.spin {
  width: 30px;
}