<ctoria-control title={{title}} generated={{generated}}></ctoria-control>
<!--<iframe id="auto" width="200" height="200" ng-src="http://www.google.com"></iframe>-->

<div style="top:90px; position: absolute">
    <div class="container-fluid col-md-8 col-lg-7">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div id="top-panel" class="col-xs-12 col-sm-12 col-md-10 col-lg-9 top-panel">
                <div id="blurb" class="larger-text">
                    <p>John and Jake talk about a woman they share a woman called Jane. Both are married to women called
                        Jill.</p>
                    </br>
                    <p>'Jane' is a series of films from six conversations. They have many different dialogue
                        possibilities and different camera angles for each choice.</p>
                    </br>
                    <p> A new film is generated when you choose a conversation. You can play this film,
                        or you can interact with the script below it to change the film itself.</p>
                </div>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-2 col-lg-2"></div>
            <div ng-controller="NavCtrl as controller" class="col-md-8 col-lg-8" style="margin-left:0;padding-left: 0;">
                <button class="btn ok-btn" ng-click="goPage('/jane')" style="font-size: 2.4rem;color: #a71d5d;background: #f7f2f3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK, take me to
                    Jane&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
            <div class="col-md-3 col-lg-2"></div>
        </div>

    </div>

    <div class="container-fluid col-md-4 col-lg-5">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div><img class="center-block" style="padding-top:30px;"
                          src="static/images/colin_mace.png">
                </div>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-5 col-lg-1 default-text" style="color: #ffffff;">John:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Colin
                Mace</p></div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>

        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div style="padding-top:0px; color: #ffffff"><img class="center-block" src="static/images/paul_downey.png" height="240" width="360"></div>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-5 col-lg-1 default-text" style="color: #ffffff;">Jake:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Paul
                Downey</p></div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>
        <div class="row" style="padding-top: 30px">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-5 col-lg-1 default-text" style="color: #ffffff;">Camera:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Niclas
                Reed Middleton</p></div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-5 col-lg-1 default-text" style="color: #ffffff;">Sound:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">
                Donald Bousted</p>
            </div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-5 col-lg-1 default-text" style="color: #ffffff;">Makeup:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Sheena
                McKellar</p>
            </div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>
         <div class="row" style="height:20px"></div>
        <!--<div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">All Else:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Ian Flitman</p>
            </div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>-->
    <!--    <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">Script:</div>
            <div class="col-xs-4 col-md-4 col-lg-4 default-text" style="color: #ffffff;"><p class="text-right">Ian Flitman</p>
            </div>
            <div class="col-xs-3 col-md-2 col-lg-5"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">Production:</div>
            <div class="col-xs-7 col-md-7 col-lg-9 default-text" style="color: #ffffff;"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">Direction:</div>
            <div class="col-xs-7 col-md-7 col-lg-9 default-text" style="color: #ffffff;"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">Editing:</div>
            <div class="col-xs-7 col-md-7 col-lg-9 default-text" style="color: #ffffff;"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-1 col-lg-2"></div>
            <div class="col-xs-2 col-md-4 col-lg-1 default-text" style="color: #ffffff;">Coding:</div>
            <div class="col-xs-7 col-md-7 col-lg-9 default-text" style="color: #ffffff;"></div>
        </div>-->
    </div>

</div>
