<ctoria-control title={{title}} generated={{generated}} xmlns="http://www.w3.org/1999/html"></ctoria-control>

<div style="top:70px; position: absolute">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 default-text"
             style="background-color: #ffffff; padding:30px;margin-top: 50px;font-size: 2.0rem">
            <h4 class="headline" style="font-size: 2.4rem">The People</h4>
            <p>Fifty poeple listened to 'The People' by WB Yeats on a City of London street before
            looking long into camera. The is a remembered conversation between the poet or narrator and their pheonix.
            </p>
            <p>The People creates a series of 4 minute films that attempt to redefine the soundtrack in new media film.</p>
            </br>
            <a href="http://www.blipstation.com/thepeople/webversion/release/ThePeople.html" target="_blank" class="btn ok-btn" style="font-size: 2.4rem;color: #a71d5d;background: #f7f2f3; border: 1px solid #a71d5d; padding:10px 20px">Play 'The People'</a>
            </br>
            <div style="padding:30px 10px 0px 10px"><img src="images/thepeople.png" ></div>
            <div class="default-text" style="font-size:1.4rem;">All the listeners for 'The People'</div>
            </br>
            <h4 class="headline" style="font-size: 2.4rem">The People Artistic Statement</h4>
            <p>Godard understood the expressive power in the resonance of image with sound.  In Bande à part<sup>1</sup>, a trio dances against a triad of sound. The music comes and goes in abrupt bursts of rhythm.  In between the voiceover elaborates the narrative and their feet slap in time then echo in the daytime cafe. By being taken away and then returned, the sound is made into a gift the image receives and gives back to us. What could then happen to film and us if sound were fundamentally dislodged from the image track?</p>

            <p>In <i>The People</i> I have reconstructed film audio through the component parts of atmosphere, music and voiceover soundtracks. They, along with the image they temporarily serve, are open to user combinations through an interface. In this way, the very contingent mechanics of sound in film and our responses to it are laid bare. The multifarious combinations do not offer us the terra firma of a soundtrack firmly grounding the image. Instead we see how the ear selects, experiments and dictates to the eye.</p>

            <p><i>The People</i> films people listening to a poem of the same name by WB Yeats<sup>2</sup>. This is a remembered conversation between the poem’s narrator and their phoenix. When the poem ends, the listeners remove their earphones and look long into the camera and us. This gesture disrupts the comfortable voyeurism of looking and hearing unobserved. It is a direct assault on ‘the daily spite of this unmannerly town’ the poem describes. It is a plea for the kind of direct human engagement the poet sees in his elsewhere city of companionship.</p>

            <p>There are eight voiceovers for the text each precisely edited to the exact same timing. This allows each listener to synchronise and attend to a different voice and through which particular combination our own interpretation and their performance is coloured. A listener following a voice of the same age and gender appears to be listening to themselves. A voice of a different gender may transfer the listener’s response from the poem itself to their feelings for the owner of the voice. An older voice may be a father or mother, or themselves when older - a premonition of sentiments as opposed to their immediate experience.</p>

            <p>There are three modes of playing <i>The People</i>.  In ‘single’ mode you watch a single listener from beginning to end.  In the ‘phoenix’ you choose two listeners thereby implicitly casting them in the active roles of narrator and phoenix. The poem is split into ten sections in the ‘mixed’ mode where the succession of faces forms chains of human listening as thought. Poetry as recited is pure sound and appeals to the inward turning ear rather than the curious and exploratory eye of the film camera.  The language of poetry they hear constitutes a special kind of thought that refuses the paraphrase.  It breathes best against relatively sedate and neutral imagery that does not pre-empt the literary imagination by merely illustrating its content. As Bresson noted, ‘one cannot be at the same time all eye and all ear’<sup>3</sup>.</p>

            <p>The sonic bedrock for the exercise in auditory manipulation is the live ambient noise at Bank Station where the listeners were shot against a wall. The pavement level noise modulates the subjects’ attentive state of being and the poem they are attending to. Words and reactions are variously fed or undermined by buses passing or stalling, and by the fragments of footstep and conversation from city workers. This is the aural backdrop to the world where ‘the drunkards, the pilferers of public funds’ ply their trade only for them to turn against us. But it also simply the world of work we like the listeners and poet find ourselves in. Effectively then, the poem is cradled by one of its own metaphors transposed to sound.  The longing for the walled cities of midnight conversation seem all the more urgent and remote in this incessant noise of work. The final long look into camera and us builds with a slow final ascent of the background sound, pulling us into the presence of their space.</p>

            <p>Before the advent of sound in film, there was no place for silence in the perpetual muteness of the silent era. Nothing breaks the comforting continuity of sound more then when it is suddenly removed. In single mode, the user can choose to silence the traffic behind the poem, thereby underlining through absence different sections of the text.</p>

            <p>For Anahid Kassabian, ‘film music conditions identification processes in powerful ways.’ <sup>4</sup> A film score will try to orchestrate our response with a series of emotional cues that befit the preferred interpretation of events. Other types of music allow for a looser set of identifications. Rather than co-opt us into a certain view, they greet the audiovisual participant as an individual who will more freely associate with the music provided.</p>

            <p>Michel Chion advocates the practice of ‘forced marriage’ between music and image. Here you divest footage of its original sound replacing it with a diverse selection of musical accompaniment ‘played over the images in an aleatory manner’. Without fail, this can create ‘amazing points of synchronisation and moving or comical juxtapositions, which always come as a surprise<sup>5</sup>’.</p>

            <p>Accordingly, behind the bright-eyed, melancholic nostalgia for a faraway life never lived, I have installed an array of street music from Istanbul. The traffic fades and a new atmosphere haunts the listener as it teases with the poetry. Accordions from Romania tell us of the relaxed happiness behind the poet’s now more poignant words. The Iranian santur takes us out of the sickening Occident to its counter-image, the Orient. The Ramadan drum that beats in the streets of Istanbul in the early hours calls to mind communities that are still tied together in ritual. The kemençe with its plaintive eloquence rewrites the poetry in its own sound-image, which then returns the compliment in kind. Simultaneously electric and medieval, the saz brings the world of the troubadour into that of our own.</p>

            <p>The phoenix comes from a third place. It is the purely imagined and therefore outside the human measurements of time. Instead we have the ebb and flow of waves lapping on a deserted shore. Or the electronic patterning of sound as code weaves itself in and out of raw audio data. Cicadas form a hypnotic wall of sound at once familiar and altogether alien. Discordant chimes ring against the clarity of language. A piano jangles cinematically. Fire burns reminding us of the lost hearth, and the unforgiving promise of hell. As a result, the subsequent re-entry into the street sounds of Bank feels more precipitous, dangerous and lonely.</p>

            <p>The choice of sounds remains at the discretion of the user. Choosing plain traffic is closer to the unmediated experience of the listeners themselves. Randomising the selection of sound allows for the crucial element of surprise. Here you ask the film to astonish you in some way. Individual selection of sound makes you feel more in control.  Now you tell the film what to do. Someone or something must decide.  It is either the algorithm or you.</p>

            <p>In work of this nature, the tension between our autonomy and the automaton of code that takes our place is inevitable and pervasive. It is in the web interface that randomly populates with listeners’ faces so that none have place of privilege. Audio options are automatically preselected between traffic and random sounds.  In mixed mode it takes over and generates the complete sequence. Here it rescues the user from making twenty laborious choices, while making some of its own.  It selects only two voices reflecting the poem’s division between narrator and phoenix. The gallery version, however, mostly clearly illustrates the independence of code from human intervention while at the same time facilitating it. Here one computer continually plays films at high resolution that it either assembles by itself or takes from a second nearby machine that visitors can use to make their own.</p>

            <p>The People embodies the Deleuzian concept of film as defined ‘by the mental connections it is able to enter into’ through ‘an open list of conjunctions<sup>6</sup>’ of which ‘or’, ‘if’, and ‘actually’ are actively evoked through its recombinant and fecund form. In the collector series of single listener editions that comprise of single and phoenix modes there are, give or take a thousand or two,  450 000 four minute films. This is cinema that elects for continual proposition over final statement.</p>

            <p align="right">February 2010, Istanbul</p>

            <p><h4>References</h4></p>

            <p><ol>
            <li><i>Band à part</i>, Jean Luc Godard, 1964. </li>
            <li><i>The People</i> by WB Yeats from <i>The Wild Swans at Coole</i>, 1919</li>
            <li><i>Notes on Sound</i>, Robert Bresson, 1977</li>
            <li><i>Hearing Film</i>, Anahid Kassabian 2001 p 60</li>
            <li><i>Audio-Vision</i>, Michel Chion, 1990 p 168</li>
            <li><i>Cinema 2</i>, Gilles Deleuze, 1985 p23 </li>
        </ol></p>
            </br>
            <h4 class="headline" style="font-size: 2.4rem">Notable Attention</h4>
            </br>
            <ul>
                <p></p><li><b>December 2011</b><br>
                15th International Video Festival VIDEOMEDEJA, Novi Sad, Serbia</li><p></p>
                <p></p><li><b>November 2011</b><br>
                ACM Multimedia 2011 Conference, Arizona, USA</li><p></p>
                <p></p><li><b>February 2011</b><br>
                Japan Media Art Festival</li><p></p>
                <p></p><li><b>October 2010</b><br>
                VideoPhagy / VideoFagia, Toronto, Canada</li><p></p>
                <p></p><li><b>August 2010</b><br>
                Cologne OFF VI <br>
                online and various venues worldwide</li><p></p>
                <p></p><li><b>October 2010</b><br>
                Fonlad Digital, Web Art Show in UAVM Virtual Museum, Coimbra, Portugal </li><p></p>
                <p></p><li><b>May 2010</b><br>
                Flash in The Can Festival 2010, Toronto<br>
                Finalist in Best Sound category	<br></li><p></p>

            </ul>

        </div>
    </div>
</div>