<p>In the web incarnation of the piece you can play one conversation at a time. However, in the forthcoming
    gallery version, there are
    other combinations of film available.</p>

<p>You can concatenate a sequence via keyword part from three up to six parts. For example, you could choose to
    have six fantasy sections, or three tonight, one
    last night and one fantasy.</p>

<p>There is also a weekday cycle of seven exchanges of three keyword parts taken across all conversations.
    Starting on Sunday, each day begins with the first part of either 'Eat In Eat Out' or 'Filmic Fantasies',
    where Jake or John ask in turns, 'Do you know what tonight is?'.
    The other
    can then respond with the next day of the week. Two more keyword parts are played and at their end, we
    fade to black where a variety of noises can be heard. The Bunuellian ticking of a clock, a horse neighing,
    gunfire perhaps.
    Fade up on the next day, and it continues until the start of the next Sunday where the cycle ends.</p>

from ctoria-control template
<!--<iframe id="auto" width="200" height="200" src="http://localhost:8000:/auto" style="display: none"></iframe>
    <iframe id="auto" width="200" height="200" src="{{ autoURL }}"></iframe>-->