<div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_PAIRED_PARENT"
     style="background-color: #fbfdff;margin-left:0px;">
    <div id=choicerow_{{cut.index}} class="row" style="border-left: 1px solid #c6c7d2;margin-left: 0px;margin-right:0px">
        <div id="speakerContent" speaker-cut-id={{cut.index}} class="col-xs-1  col-sm-1 col-md-1 col-lg-1 speakertxt" style="padding-top: 5px">
            {{cut.index | speaker}}
        </div>
        <div id="textContent" class="col-xs-7 col-sm-8 col-md-8 col-lg-8">
            <button data-cut-id={{cut.index}} data-selected-child="0" data-selected-option="0"
                    class="placementbtn btn-block"
                    ng-click="fold(cut.index)">paired parent alt {{cut.index}}
            </button>
        </div>
        <div id="numeral" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="font-family: 'Ubuntu';padding-top: 5px;color:#FFFFFF">
            <span id={{cut.index}}_link style="padding-bottom: 5px;padding-top: 5px;position:relative;top:0">&nbsp;&nbsp;{{cut.arguments.pos}}&nbsp;&nbsp;</span>
        </div>
        <div id=icon_{{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="fa fa-chevron-right caret-centre" style="padding-left: 12px"></i>
        </div>
        <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <button id=camera_{{cut.index}} db_id="0" ng-click="cameraToggle()" class="camerabtn" data-camera="">near
            </button>
        </div>
    </div>
    <div id=selrow_{{cut.index}} ng-show="nestedChosen()" class="row" style="background-color: #fbfdff;margin-left:0px;border-left: 1px solid #c6c7d2;margin-right:0px">
        <div  class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 5px"></div>
        <div id="textContent2" class="col-xs-8 col-sm-9 col-md-9 col-lg-9 childoption" style="padding: 0px;padding-top: 10px; padding-bottom: 8px; padding-left:12px"
             data-cut-id=sel_{{cut.index}} data-selected-position="0">free alt {{cut.index}}
        </div>
        <div id="col1" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div id="cameraContent2" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <span><button id=selcamera_{{cut.index}} ng-click="cameraToggle()" class="camerabtn"
                          data-camera="">near
            </button></span>
        </div>
    </div>
</div>


<div id=collapse_{{cut.index}} collapse="true">
    <div ng-repeat="child in cut.children">
            <span ng-switch="child.type">
                    <ctoria-paired-child-free ng-switch-when="ALTERNATIVE_FREE" cut="child" index="cut.index"
                                              child-index="child.position" selected="0"></ctoria-paired-child-free>
                   <ctoria-child-compound ng-switch-when="ALTERNATIVE_COMPOUND" cut="child" index="cut.index"
                                          child-index="child.position" selected="0"></ctoria-child-compound>
            </span>
    </div>
</div>