<div id="menuConversation" ng-show="showConversations()" class="btn-group-vertical" style="position: absolute;z-index: 5; left: 170px; top: 550px;border-style:solid; border-width: 1px; border-color: #333">
                    <button id="ofne" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('ofne')" style="font-size:2.2rem">Old Films New Endings
                    </button>
                    <button id="bs" type="button" class="btn default-larger conversation-btn"
                            ng-click="changeConversation('bs')" style="font-size:2.2rem">
                        Bedtime Stories
                    </button>
                    <button id="mtl" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('mtl')" style="font-size:2.2rem">Married Too Long
                    </button>
                    <button id="sc" type="button" class="btn default-text conversation-btn" ng-click="changeConversation('sc')"
                            style="font-size:2.2rem">
                        Sexual Conundrum
                    </button>
                    <button id="eieo" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('eieo')" style="font-size:2.2rem">Eat in Eat out
                    </button>
                    <button id="ff" type="button" class="btn default-text conversation-btn" ng-click="changeConversation('ff')"
                            style="font-size:2.2rem">
                        Filmic Fantasies
                    </button>
</div>