<div id=row_def_{{index}}_child_{{cut.position}} class="row" style="background-color: #333;overflow: hidden">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #333;"></div>
    <!--col-xs-7  col-xs-offset-2 col-sm-7 col-sm-offset-2 col-md-9 col-md-offset-1-->
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 seqtyperow" style="padding: 0px">
        <button id=def_{{index}}_child_{{cut.position}} class="placementbtn btn-block"
                style="padding-left: 12px;padding-top: 10px; padding-bottom:8px" ng-click="fold(index + '_child_' + cut.position)">{{cut.default.line}}
        </button>
    </div>
    <div id=def_icon_{{index}}_child_{{cut.position}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 caret-centre seqtyperow" style="background-color:#fbfdff;padding-bottom: 7px" >
        <i class="fa fa-chevron-right caret-centre"></i>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #333;"></div>
</div>

<!--style="padding-top: 10px; padding-bottom: 8px;padding-left: 0px"-->
<div id=row_opt_{{index}}_child_{{cut.position}} class="row">
    <div class="col-xs-1 col-sm-1-2 col-md-1 col-lg-1" style="background-color: #333"></div>
    <div id=sel_{{index}}_child_{{cut.position}} class="col-xs-10 col-sm-10 col-md-10 col-lg-10 childoption"
        data-cut-id={{index}}_child_{{cut.position}} data-selected-position="0" style="padding-top: 10px; padding-bottom: 8px;padding-left: 12px">free alt {{index}}
    </div>
    <div class="col-xs-1 col-sm-1-2 col-md-1 col-lg-1" style="background-color: #333"></div>
</div>

<div id=collapse_{{index}}_child_{{cut.position}} collapse="true" class="row">
    <button id={{index}}_child_{{cut.position}}_opt_{{option.position}} data-position='{{option.position}}'
            ng-click="optionClick(index + '_child_' +  cut.position +'_opt_'+ option.position, option.position)"
            data-option-id='{{option.id}}' class="btn col-xs-9 col-md-9 optionbtn"
            ng-repeat="option in cut.options" style="left:12%">
        {{option.line}}
    </button>
</div>

