<div id=row_{{cut.index}} data-file="0">
    <div class="row" style="background-color: #f7f2f3;margin-left: 0px;margin-right: 0px">
        <div  class="col-sm-1 col-md-2 col-lg-2"></div>
        <div id="firstSpeaker" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 default-text">First speaker:</div>
        <div id="speakerBtn" class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
            <button  id="speakerToggle" class="speakerToggle" ng-click="toggleSpeaker(cut.index)">toggle</button>
        </div>

        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="padding-top: 5px">  </div>
        <div id="actressCounter" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <a id="decrease" class="btn" ng-click="decrease()"><i class="fa fa-caret-left fa-2x"></i></a>
            <div class="btn default-text" id="actressNumber" style="text-align: center">{{numberOfLines}} Actresses</div>
            <a id="increase" class="btn" ng-click="increase()" style="padding-left:0px"><i class="fa fa-caret-right fa-2x" ></i></a>
        </div>
        <!--<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>-->
    </div>
</div>

<div ng-repeat="number in lineRange()">
     <span ng-if="number%2==0">
         <ctoria-multi-free cut="cut.children[0]" index="number" selected="0"></ctoria-multi-free>
    </span>
    <span ng-if="number%2==1">
         <ctoria-multi-free cut="cut.children[1]" index="number" selected="0"></ctoria-multi-free>
    </span>
</div>