<div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_SPEAKER">
    <div id=choicerow_{{cut.index}} class="row" style="background-color: #fbfdff;margin-left:0px;margin-right:0px;border-left: 1px solid #c6c7d2;">
        <div id="speakerContent" speaker-cut-id={{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 speakertxt" style="padding-top: 5px">
        </div>
        <div id="multiContent" class="col-xs-8 col-sm-9 col-md-9 col-lg-9 ">
            <button data-cut-id={{cut.index}} data-selected-position="0"
                    class="placementbtn btn-block" ng-click="fold(cut.index)">speaker alt {{cut.index}}
            </button>
        </div>
        <div id=icon_{{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="btn fa fa-chevron-right caret-centre" ng-click="fold(cut.index)"></i>
        </div>
        <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span>
                <button id=camera_{{cut.index}} ng-click="cameraToggle()" class="camerabtn" data-camera="">near</button>
            </span>
        </div>
    </div>
</div>

<div id=collapse_{{cut.index}} collapse="true">
    <div class="row">
       <span ng-if="cut.content=='default'">
           <div ng-repeat="option in cut.options">
                <button id={{cut.index}}_child_{{cut.position}}_opt_{{option.position}} data-position='{{option.position}}'
                ng-click="optionClick(option.position, cut.index)"
                data-option-id='{{option.id}}' class="btn col-xs-10 col-md-10 optionbtn">
            {{option.line}}
        </button>
           </div>
        </span>
        <span ng-if="cut.content=='alternative'">
            <div ng-repeat="alt in cut.alternatives">
                <ctoria-child-speaker-free cut="alt" index="cut.index"
                                       child-index="alt.position" selected="0"></ctoria-child-speaker-free>
            </div>
        </span>

    </div>
</div>




