<div data-file="0" data-ctoria-type="ALTERNATIVE_MULTIFREE">
    <div id=freerow_{{index}} class="row" style="background-color: #fbfdff;margin-left:0px;margin-right:0px;border-left: 1px solid #c6c7d2;">
        <div id="speakerContent" speaker-cut-id={{$parent.cut.index}}_{{index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 speakertxt" style="padding-top: 5px">&nbsp;&nbsp;{{cut.speaker}}:
        </div>
        <div id="multiContent" class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
            <button data-cut-id={{$parent.cut.index}}_{{index}} data-selected-position="0"
                    class="placementbtn btn-block" ng-click="fold($parent.cut.index + '_' + index)">multifree alt {{cut.index}}
            </button>
        </div>
        <div id=icon_{{$parent.cut.index}}_{{index}} class="col-xs-1 col-sm-1 col-md-1">
            <i class="btn fa fa-chevron-right caret-centre" ng-click="fold($parent.cut.index + '_' + index)"></i>
        </div>
        <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span>
                <button id=camera_{{$parent.cut.index}}_{{index}} ng-click="cameraToggle()" class="camerabtn"
                          data-camera="">near</button>
            </span>
        </div>
    </div>
</div>

<div id=collapse_{{$parent.cut.index}}_{{index}} collapse="true">
    <div class="row">
        <button id=multi_{{index}}_opt_{{option.position}} data-position='{{option.position}}'
                ng-click="optionClick(option.position)"
                data-option-id='{{option.index}}' class="btn col-xs-10 col-md-10 optionbtn"
                ng-repeat="option in cut.options">
            {{option.line}}
        </button>
    </div>
</div>




