<div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_FREE">
    <div id=choicerow_{{cut.index}} class="row" style="background-color: #fbfdff;margin-left:0px;margin-right:0px; border-left: 1px solid #c6c7d2;">
        <div id="speakerContent" speaker-cut-id={{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 speakertxt" style="padding-top: 5px">{{cut.index |
            speaker}}
        </div>
        <div id="textContent" class="col-xs-8 col-sm-9 col-md-9 col-lg-9" >
            <button data-cut-id={{cut.index}} data-selected-position="0"
                    class="placementbtn btn-block" ng-click="fold(cut.index)">free alt {{cut.index}}
            </button>
        </div>
        <div id=icon_{{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="btn fa fa-chevron-right caret-centre" ng-click="fold(cut.index)"></i>
        </div>
        <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span><button id=camera_{{cut.index}} db_id="0" ng-click="cameraToggle()" class="camerabtn"
                          data-camera="">{{cut.options[0].sources[0].file | camera}}
            </button></span>
        </div>
    </div>
    <div id=selrow_{{cut.index}} ng-show="nestedChosen()" class="row" style="background-color: #fbfdff;margin-left:0px;margin-right:0px;border-left: 1px solid #c6c7d2;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 5px"></div>
        <div id="textContent2" class="col-xs-9 col-sm-10 col-md-10 col-lg-10 childoption" style="padding: 0px;padding-top:15px;padding-left: 0px; padding-bottom: 8px"
             data-cut-id=sel_{{cut.index}} data-selected-position="0">free alt {{cut.index}}>
        </div>
        <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
        <div id="cameraContent2" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span><button id=selcamera_{{cut.index}} ng-click="cameraToggle()" class="camerabtn"
                          data-camera="">near
            </button></span>
        </div>
    </div>
</div>


<div id=collapse_{{cut.index}} collapse="true">
    <div class="row">
        <button id={{cut.index}}_opt_{{option.position}} data-position='{{option.position}}'
                ng-click="optionClick(cut.index + '_opt_'+ option.position)"
                data-option-id='{{option.index}}' class="btn col-xs-10 optionbtn"
                ng-repeat="option in cut.options">
            {{option.line}}
        </button>
    </div>
    <div ng-if="cut.nested">
       <span ng-switch="cut.nested.type">
                    <ctoria-child-compound ng-switch-when="ALTERNATIVE_COMPOUND" cut="cut.nested" index="cut.index"
                                           child-index="cut.options.length" selected="0"></ctoria-child-compound>
       </span>
    </div>
</div>




